/*
Color Options:
Inspiration:
https://colorhunt.co/palette/f6f6c9bad1c24fa095153462
#F6F6C9
#BAD1C2
#4FA095
#153462

Gentle Sea:
https://colorhunt.co/palette/dff2ebb9e5e87ab2d34a628a
#DFF2EB
#B9E5E8
#7AB2D3
#4A628A

Dark purple with Orange:
https://colorhunt.co/palette/2d32504247697077a1f6b17a
2D3250
424769
7077A1
F6B17A

Blue Green Yellow Orange:
https://colorhunt.co/palette/01204e028391f6dcacfeae6f
01204E
028391
F6DCAC
FEAE6F

Dark to light blue:
https://colorhunt.co/palette/0b244719376d576cbca5d7e8
0B2447
19376D
576CBC
A5D7E8

Blue Orange White
https://colorhunt.co/palette/112b3c205375f66b0eefefef
112B3C
205375
F66B0E
EFEFEF

Purple Maroon Orange White
https://colorhunt.co/palette/23044490303ded8240d2ebe9
230444
90303D
ED8240
D2EBE9

Muted White Orange Blue
https://colorhunt.co/palette/d9dad7c24d2c3e4a611a2639
D9DAD7
C24D2C
3E4A61
1A2639

Deep Blue Green Yellow
https://colorhunt.co/palette/000b58003161006a67fff4b7
000B58
003161
006A67
FFF4B7

Purple Blue Red TanPink
https://colorhunt.co/palette/432e544b4376ae445ae8bcb9
432E54
4B4376
AE445A
E8BCB9

Black Blue Light Pink
3D3B40
525CEB
BFCFE7
F8EDFF

Deep Purple Denim Yellow
https://colorhunt.co/palette/363062435585818fb4f5e8c7
363062
435585
818FB4
F5E8C7

Dark to Light Turquoise
https://colorhunt.co/palette/164863427d9d9bbec8ddf2fd
164863
427D9D
9BBEC8
DDF2FD

Muted Blues
https://colorhunt.co/palette/27374d526d829db2bfdde6ed
27374D
526D82
9DB2BF
DDE6ED

Rich Blues
https://colorhunt.co/palette/0b244719376d576cbca5d7e8
0B2447
19376D
576CBC
A5D7E8
*/



:root{
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
